.todo {
    width: 100%;
    height: 100%;
}

.done .content {
    text-decoration: line-through;
}

.video-bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 30%;
}

.video-bg video {
    width: 200%;
    height: 200%;
}

.left {
    font-family: sans-serif;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 50%;
    height: 100vh;
    border-right: 1px solid lightgrey;
    background-color: white;
    z-index: 1;
}

.left-inner {
    position: absolute;
    top: 10%;
    width: 75%;
    height: 65%;
    margin-left: 12.5%;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 10px;
}

.right {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 49.9%;
    height: 100%;
    background-color: white;
    overflow-x: hidden;
    z-index: 1;
}

p {
    margin-top: 1%;
    margin-left: 9%;
    font-size: 1vw;
    color: grey;
}

h1 {
    margin-top: 7.5%;
    margin-left: 9%;
    font-size: 2.75vw;
}

.todoItems {
    position: relative;
    display: flex;
    width: 90%;
    left: 5%;
    height: 45px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.todoItems:nth-child(even) {
    background-color: #ebebeb;
}

.todoItems:nth-child(odd) {
    background-color: white;
}

.id {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 8%;
    border-right: 1px solid lightgrey;
    font-size: 15px;
}

.content {
    font-family: 'Courier New';
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: start;
    width: 85%;
    text-indent: 25px;
    font-size: 25px;
    word-wrap: break-word;
    overflow-x: scroll;
}

.delete {
    margin-top: 12.5px;
    margin-left: 2%;
    height: 20px;
    width: 20px;
    border: none;
    border-radius: 4px;
    background-color: #b8433b;
    font-size: 11px;
    color: white;
}

.todo-input {
    font-family: 'Courier New';
    width: 70%;
    height: 6vh;
    background-color: white;
    margin-left: 9%;
    margin-top: 5%;
    margin-bottom: 7%;
    font-size: 3vh;
    border: 1px solid lightgrey;
    border-radius: 4px;
    outline: none;
    text-indent: 10px;
}

.todo-input:focus {
    border: 1px solid grey;
}

.todo-submit {
    margin-left: 1%;
    margin-top: 5%;
    width: 3.5vw;
    height: 7vh;
    font-size: 3vh;
    background-color: #92c480;
    color: white;
    border: none;
    border-radius: 4px;
}

.new-todos {
    display: inline;
}

.light {
    margin-top: 1%;
    margin-left: 9%;
    width: 3vw;
    height: 6vh;
    border: 1px solid lightgrey;
    border-radius: 4px;
    background-color: white;
}

.dark {
    margin-top: 1%;
    margin-left: 5%;
    width: 3vw;
    height: 6vh;
    border: 1px solid #303030;
    border-radius: 4px;
    background-color: #212121;
}

.todo-dark .left {
    /* background-color: #212121; */
    background-color: #1a1a1a;
    border-right: 1px solid #303030;
}

.todo-dark .left-inner {
    background-color: #212121;
    border: 1px solid #303030;
}

.todo-dark .right {
    background-color: #212121;
}

.todo-dark .video-bg {
    opacity: 2%;
}

.todo-dark h1 {
    color: white;
}

.todo-dark .todoItems {
    border: 1px solid #303030;
}

.todo-dark .todoItems:nth-child(even) {
    background-color: #1a1a1a;
}

.todo-dark .todoItems:nth-child(odd) {
    background-color: #262626;
}

.todo-dark .content {
    color: white;
}

.todo-dark .id {
    color: white;
    border-right: 1px solid #303030;
}

.todo-dark .todo-input {
    background-color: #212121;
    color: white;
    border: 1px solid #303030;
}

.todo-dark .todo-input:focus {
    border: 1px solid white;
}

@media screen and (max-width: 480px) {
    .left {
        left: 0;
        top: 0;
        width: 100%;
        height: 50vh;
        border-right: none;
        border-bottom: 1px solid lightgrey;
    }
    .right {
        left: 0;
        top: 50vh;
        width: 100%;
        height: 50vh;
    }
    .left-inner {
        height: 70%;
    }
    h1 {
        display: flex;
        font-size: 5vw;
    }
    p {
        display: none;
    }
    .todo-input {
        width: 60%;
        height: 4vh;
        font-size: 2vh;
    }
    .todo-submit {
        width: 30px;
        height: 30px;
        font-size: 10px;
    }
    .light {
        width: 30px;
        height: 30px;
    }
    .dark {
        width: 30px;
        height: 30px;
    }
}